html, body {
    height: 100%;
    margin: 0;
}

* {
    box-sizing: border-box;
}

.cm-wrap {
    outline: none !important;  /* @oops */
}

.cm-content {
    padding: 0 !important;  /* @oops */
}

.shell--prompt--cwd { color: purple; }
.shell--prompt--sep { color: #888; }

.shell--output {
    color: #666;
    max-height: 1000px;
    max-width: 100%;
    overflow: auto;
}